.env

cogs/


*.json

__pycache__/
*.pyc

*.png

# YAML configurations->data serialization language for all programming languages.
*.yml

# Log files
logs/infos.log
/logs

settings.py
discordchatlogger.py
bonkbot.code-workspace


/venv

# SQLite database files
*.db

# Replaceable files (redacted bot info/TODOs)
replaceables.txt